@media only screen and (max-width: 600px) {

    .intro-logo {
        border-bottom: 0;
        display: inline-block;
        margin: 0 0 (_size(element-margin) * 0.5) 0;
        overflow: hidden;
        position: relative;
        justify-content: center;
    }

    .intro-img {
        width: 10em;
        border-radius: 50%;
        display: block;
        border-bottom: 0;
        display: inline-block;
        margin: 0 0 (_size(element-margin) * 0.5) 0;
        overflow: hidden;
        position: relative;
        justify-content: center;
    }

}

h1 {
    font-size: 1.4em;
    font-weight: bold;
    text-transform: lowercase;
    color: #92d7c4;
    font-family: helvetica;
    
    justify-content: center;
    text-align: center;
  }

.email {
    font-size: 0.9em;
    justify-content: right;
    text-align: center;
}

.blurb {
    font-size: 1em;
}
.blurb-h2 {
    font-size: 0.8em;
    margin: 0, 0, 0.75, 0;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}

.intro-details {
    font-size: 0.8em;
    text-align: center;
    line-height: 20px;
}

.headshot {
    width: 200px;
    height: auto;
    border-radius: 50%;
    justify-content: center;
}

